name: 'Run Movement test suite (main)'

on:
  # Run test suite whenever the main branch is updated
  push:
    branches:
      - main
    paths:
      - '**.py'
      - '**.geo'
      - '.github/workflows/test_suite.yml'
      - '.gitmodules'
      - 'pyproject.toml'

  # Run test suite whenever commits are pushed to an open PR
  pull_request:
    paths:
      - '**.py'
      - '**.geo'
      - '.github/workflows/test_suite.yml'
      - '.gitmodules'
      - 'pyproject.toml'

  # Run test suite every Sunday at 1AM
  schedule:
    - cron: '0 1 * * 0'

jobs:
  test_suite:
    uses: mesh-adaptation/docs/.github/workflows/reusable_test_suite.yml@main
