name: 'Run Movement test suite'

on:
  # Run test suite whenever main is updated
  push:
    branches:
      - main

  # Run test suite whenever commits are pushed to an open PR
  pull_request:

  # Run test suite every Sunday at 1AM
  schedule:
    - cron: '0 1 * * 0'

concurrency:
  # Cancel jobs running if new commits are pushed
  group: >
    ${{ github.workflow }}-
    ${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: 'Test suite'
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/mesh-adaptation/firedrake-parmmg:latest
      options: --user root
    steps:
      - name: 'Check out the repo'
        id: checkout
        uses: actions/checkout@v4

      - name: 'Determine files differing from target branch'
        id: changed-files
        if: ${{ github.event_name != 'push' && github.ref != 'refs/heads/main' }}
        uses: tj-actions/changed-files@v44
        with:
          files: |
            .github/workflows/test_suite.yml
            **/*.py

      - name: 'Cleanup'
        if: ${{ always() }}
        run: |
          cd ..
          rm -rf build

      - name: 'Setup Python'
        if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/main') || (steps.changed-files.outcome == 'success' && steps.changed-files.outputs.any_changed == 'true') || github.event_name == 'schedule' }}
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: 'Install Movement'
        if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/main') || (steps.changed-files.outcome == 'success' && steps.changed-files.outputs.any_changed == 'true') || github.event_name == 'schedule' }}
        run: |
          . /home/firedrake/firedrake/bin/activate
          python -m pip uninstall -y movement
          python -m pip install -e .

      - name: 'Lint'
        if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/main') || (steps.changed-files.outcome == 'success' && steps.changed-files.outputs.any_changed == 'true') || github.event_name == 'schedule' }}
        run: |
          . /home/firedrake/firedrake/bin/activate
          make lint

      - name: 'Test Movement'
        if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/main') || (steps.changed-files.outcome == 'success' && steps.changed-files.outputs.any_changed == 'true') || github.event_name == 'schedule' }}
        run: |
          . /home/firedrake/firedrake/bin/activate
          export GITHUB_ACTIONS_TEST_RUN=1
          python $(which firedrake-clean)
          python -m coverage erase
          python -m coverage run --source=movement -m pytest -v --durations=20 test
          python -m coverage report
