name: Build Movement

on:
  # Run test suite whenever main is updated
  push:
    branches:
      - main

  # Run test suite whenever commits are pushed to an open PR
  pull_request:

  # Run test suite every Sunday at 1AM
  schedule:
    - cron: '0 1 * * 0'

jobs:
  build:
    name: "Build Movement"
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # The docker container to use.
    container:
      image: jwallwork/firedrake-parmmg:latest
      options: --user root
    steps:
      - uses: actions/checkout@v2
      - name: Cleanup
        if: ${{ always() }}
        run: |
          cd ..
          rm -rf build
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install
        run: |
          . /home/firedrake/firedrake/bin/activate
          python -m pip install -r requirements.txt
          python -m pip install -e .
      - name: Test
        run: |
          . /home/firedrake/firedrake/bin/activate
          python $(which firedrake-clean)
          python -m coverage erase
          python -m coverage run --source=movement -m pytest -v --durations=20 test
          python -m coverage report
      - name: Lint
        if: ${{ always() }}
        run: |
          . /home/firedrake/firedrake/bin/activate
          make lint
