name: Test suite

on:
  # Run test suite whenever main is updated
  push:
    branches:
      - main
    paths:
      - '**.py'
      - '**.geo'
      - '.github/workflows/test_suite.yml'
      - 'pyproject.toml'

  # Run test suite whenever commits are pushed to an open PR
  pull_request:
    paths:
      - '**.py'
      - '**.geo'
      - '.github/workflows/test_suite.yml'
      - 'pyproject.toml'

  # Run test suite every Sunday at 1AM
  schedule:
    - cron: '0 1 * * 0'

# Cancel jobs running if new commits are pushed
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  test_suite:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    container:
      image: firedrakeproject/firedrake-vanilla-default:latest
      options: --user root
    env:
      # Name of the repository that triggered the workflow
      ANIMATE_CHECKPOINT_DIR: ${{ github.workspace }}/.checkpoints

    steps:
      - name: Checkout the repo
        id: checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install Animate
        run: |
          git clone https://github.com/mesh-adaptation/animate.git
          pip install ./animate

      - name: Install package
        run: pip install -e .[dev]

      - name: Lint
        run: make lint

      - name: Run serial tests
        run: |
          python3 $(which firedrake-clean)
          python3 -m coverage erase
          python3 -m coverage run --source=movement -m pytest -v test
          python3 -m coverage combine
          python3 -m coverage report -m
